@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define global styles in the `base` layer */
@layer base {
    body {
        background: linear-gradient(to bottom right, #f97316, #f59e0b);
        min-height: 100vh; /* Ensures it covers the full viewport */
        margin: 0;
        padding: 0;
    }
}